.list-selected .selected-vacancies{
    background-color: var(--color-grey-6);
    padding: 38px;
    border-radius: 0 0 8px 8px;
    border-bottom: 2px solid var(--color-grey-4);
}
.list-selected .selected-vacancies .title-remove{
    display: flex;
    justify-content: space-between;
}

.list-selected .selected-vacancies .title-remove button{
    background-color: var(--color-grey-5);
    width: 44px;    
    height: 38px;
    border: none;
    border-radius: var(--radius-default);
    cursor: pointer;

}
.list-selected .selected-vacancies .company-city{

    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    color: var(--color-grey-2);
    font-size: var(--text-3);
}

aside h3{
    background-color: var(--color-grey-6);
    padding: 32px;
    border-radius: 8px 8px 0 0;
}